<p id="notice"><%= notice %></p>

<h1>Add File To Attachments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @add_file_to_attachments.each do |add_file_to_attachment| %>
      <tr>
        <td><%= link_to 'Show', add_file_to_attachment %></td>
        <td><%= link_to 'Edit', edit_add_file_to_attachment_path(add_file_to_attachment) %></td>
        <td><%= link_to 'Destroy', add_file_to_attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Add File To Attachment', new_add_file_to_attachment_path %>
